In [1]:
import pandas as pd
import numpy as np

### It reads data of Costa Mesa census data + vote turn out data for 2018 election

In [2]:
df = pd.read_csv("df_turnout.csv")

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,ALAND,AWATER,BLKGRPCE,COUNTYFP,E11B19001e1,E11B19001e10,E11B19001e11,E11B19001e12,...,S07B15003e23,S07B15003e24,S07B15003e25,S08B21001e1,S08B21001e2,S19B28008e10,S19B28008e2,S19B28008e4,S19B28008e9,Voter_Turnout
0,0,0,337300,0,3,59,688,24,34,122,...,38,38,11,1239,65,0,1682,1605,77,83.5
1,1,1,686935,0,1,59,1280,85,96,127,...,282,20,10,2373,142,0,2999,2945,54,78.6
2,2,2,209303,0,2,59,321,0,30,29,...,92,28,0,547,18,111,494,327,167,75.8
3,3,3,323900,0,2,59,417,26,0,31,...,131,20,0,906,10,4,933,927,6,100.0
4,4,4,323906,0,1,59,370,9,37,54,...,103,10,9,641,37,65,831,805,26,67.6

### Based on extra research, several columns in Demography, Social, Economic Data were grouped.

In [4]:
df1 = df[["D01B01001e7", "D01B01001e8","D01B01001e9","D01B01001e10"]]

In [5]:
for index, row in df1.iterrows():
    df.loc[index, "D01B01001e7-10"] = row.D01B01001e7 + row.D01B01001e8 + row.D01B01001e9 + row.D01B01001e10

In [6]:
df.head()
df = df.drop(["D01B01001e7", "D01B01001e8","D01B01001e9","D01B01001e10"], axis=1)

In [7]:
df2 = df[["D01B01001e11", "D01B01001e12","D01B01001e13","D01B01001e14"]]

In [8]:
for index, row in df2.iterrows():
    df.loc[index, "D01B01001e11-14"] = row.D01B01001e11 + row.D01B01001e12 + row.D01B01001e13 + row.D01B01001e14

In [9]:
df.head()
df = df.drop(["D01B01001e11", "D01B01001e12","D01B01001e13","D01B01001e14"], axis=1)

In [10]:
df3 = df[["D01B01001e15", "D01B01001e16","D01B01001e17","D01B01001e18", "D01B01001e19"]]

In [11]:
for index, row in df3.iterrows():
    df.loc[index, "D01B01001e15-19"] = row.D01B01001e15 + row.D01B01001e16 + row.D01B01001e17 + row.D01B01001e18  + row.D01B01001e19

In [12]:
df.head()
df = df.drop(["D01B01001e15", "D01B01001e16","D01B01001e17","D01B01001e18", "D01B01001e19"], axis=1)

In [13]:
df4 = df[["D01B01001e20", "D01B01001e21","D01B01001e22"]]

In [14]:
for index, row in df4.iterrows():
    df.loc[index, "D01B01001e20-22"] = row.D01B01001e20 + row.D01B01001e21 + row.D01B01001e22

In [15]:
df.head()
df = df.drop(["D01B01001e20", "D01B01001e21","D01B01001e22"], axis=1)

In [16]:
df5 = df[["D01B01001e23", "D01B01001e24","D01B01001e25"]]

In [17]:
for index, row in df5.iterrows():
    df.loc[index, "D01B01001e23-25"] = row.D01B01001e23 + row.D01B01001e24 + row.D01B01001e25
df.head()
df = df.drop(["D01B01001e23", "D01B01001e24","D01B01001e25"], axis=1)

In [18]:
df6 = df[["D01B01001e31", "D01B01001e32","D01B01001e33","D01B01001e34"]]

In [19]:
for index, row in df6.iterrows():
    df.loc[index, "D01B01001e31-34"] = row.D01B01001e31 + row.D01B01001e32 + row.D01B01001e33 + row.D01B01001e34
df.head()
df = df.drop(["D01B01001e31", "D01B01001e32","D01B01001e33","D01B01001e34"], axis=1)

In [20]:
df7 = df[["D01B01001e35", "D01B01001e36","D01B01001e37","D01B01001e38"]]

In [21]:
for index, row in df7.iterrows():
    df.loc[index, "D01B01001e35-38"] = row.D01B01001e35 + row.D01B01001e36 + row.D01B01001e37 + row.D01B01001e38
df.head()
df = df.drop(["D01B01001e35", "D01B01001e36","D01B01001e37","D01B01001e38"], axis=1)

In [22]:
df8 = df[["D01B01001e39", "D01B01001e40","D01B01001e41","D01B01001e42","D01B01001e43"]]

In [23]:
for index, row in df8.iterrows():
    df.loc[index, "D01B01001e39-43"] = row.D01B01001e39 + row.D01B01001e40 + row.D01B01001e41 + row.D01B01001e42 + row.D01B01001e43
df.head()
df= df.drop(["D01B01001e39", "D01B01001e40","D01B01001e41","D01B01001e42","D01B01001e43"], axis=1)

In [24]:
df9 = df[["D01B01001e44", "D01B01001e45","D01B01001e46"]]

In [25]:
for index, row in df9.iterrows():
    df.loc[index, "D01B01001e44-46"] = row.D01B01001e44 + row.D01B01001e45 + row.D01B01001e46
df.head()
df = df.drop(["D01B01001e44", "D01B01001e45","D01B01001e46"], axis=1)

In [26]:
df10 = df[["D01B01001e47", "D01B01001e48","D01B01001e49"]]

In [27]:
for index, row in df10.iterrows():
    df.loc[index, "D01B01001e47-49"] = row.D01B01001e47 + row.D01B01001e48 + row.D01B01001e49
df = df.drop(["D01B01001e47", "D01B01001e48","D01B01001e49"], axis=1)

In [28]:
df11 = df[["S07B15003e15", "S07B15003e16","S07B15003e17"]]

In [29]:
for index, row in df11.iterrows():
    df.loc[index, "S07B15003e15-17"] = row.S07B15003e15 + row.S07B15003e16 + row.S07B15003e17
df= df.drop(["S07B15003e15", "S07B15003e16","S07B15003e17"], axis=1)

In [30]:
df12 = df[["S07B15003e18", "S07B15003e19","S07B15003e20","S07B15003e21"]]

In [31]:
for index, row in df12.iterrows():
    df.loc[index, "S07B15003e18-21"] = row.S07B15003e18 + row.S07B15003e19 + row.S07B15003e20 + row.S07B15003e21
df = df.drop(["S07B15003e18", "S07B15003e19","S07B15003e20","S07B15003e21"], axis=1)

In [32]:
df13 = df[["S07B15003e23", "S07B15003e24","S07B15003e25"]]

In [33]:
for index, row in df13.iterrows():
    df.loc[index, "S07B15003e23-25"] = row.S07B15003e23 + row.S07B15003e24 + row.S07B15003e25

df = df.drop(["S07B15003e23", "S07B15003e24","S07B15003e25"], axis=1)

In [34]:
df14 = df[["E11B19001e3", "E11B19001e4","E11B19001e5"]]

In [35]:
for index, row in df14.iterrows():
    df.loc[index, "E11B19001e3-5"] = row.E11B19001e3 + row.E11B19001e4 + row.E11B19001e5

df = df.drop(["E11B19001e3", "E11B19001e4","E11B19001e5"],axis=1)

In [36]:
df15 = df[["E11B19001e6", "E11B19001e7","E11B19001e8","E11B19001e9", "E11B19001e10"]]

In [37]:
for index, row in df15.iterrows():
    df.loc[index, "E11B19001e6-10"] = row.E11B19001e6 + row.E11B19001e7 + row.E11B19001e8 + row.E11B19001e9 + row.E11B19001e10

df = df.drop(["E11B19001e6", "E11B19001e7","E11B19001e8","E11B19001e9", "E11B19001e10"],axis=1)

In [38]:
df16 = df[["E11B19001e11", "E11B19001e12"]]

In [39]:
for index, row in df16.iterrows():
    df.loc[index, "E11B19001e11-12"] = row.E11B19001e11 + row.E11B19001e12

df = df.drop(["E11B19001e11", "E11B19001e12"],axis=1)

In [40]:
df17 = df[["E11B19001e14", "E11B19001e15"]]

In [41]:
for index, row in df17.iterrows():
    df.loc[index, "E11B19001e14-15"] = row.E11B19001e14 + row.E11B19001e15

df= df.drop(["E11B19001e14", "E11B19001e15"],axis=1)

In [42]:
df18 = df[["E11B19001e16", "E11B19001e17"]]

In [43]:
for index, row in df18.iterrows():
    df.loc[index, "E11B19001e16-17"] = row.E11B19001e16 + row.E11B19001e17

df=df.drop(["E11B19001e16", "E11B19001e17"],axis=1)

In [44]:
df.to_csv('df_grouped_turnout.csv', index=False)

### "DF_grouped_Turnout.csv" Data furthured cleanup to remove null data

In [45]:
merged_df = df

In [46]:
merged_df.isnull().sum()

Unnamed: 0         0
Unnamed: 0.1       0
ALAND              0
AWATER             0
BLKGRPCE           0
                  ..
E11B19001e3-5      0
E11B19001e6-10     0
E11B19001e11-12    0
E11B19001e14-15    0
E11B19001e16-17    0
Length: 94, dtype: int64

In [47]:
nans = merged_df.loc[:, (merged_df.isnull().sum() > 0)].columns.tolist()

In [48]:
nans

['E11B19013e1',
 'E12B19113e1',
 'E12B20002e1',
 'E12B20002e2',
 'E12B20002e3',
 'H18B25082e1',
 'H18B25082e2',
 'H18B25082e3',
 'D02B01002Be1',
 'D02B01002Ce1',
 'D02B01002De1',
 'D02B01002Ee1',
 'D02B01002Fe1',
 'D02B01002Ge1',
 'D02B01002Ie1']

In [49]:
new_df = merged_df.fillna(0)

In [50]:
no_nans = new_df.loc[:, (new_df.isnull().sum() > 0)].columns.tolist()

In [51]:
no_nans

[]

In [52]:
new_df.dtypes

Unnamed: 0           int64
Unnamed: 0.1         int64
ALAND                int64
AWATER               int64
BLKGRPCE             int64
                    ...
E11B19001e3-5      float64
E11B19001e6-10     float64
E11B19001e11-12    float64
E11B19001e14-15    float64
E11B19001e16-17    float64
Length: 94, dtype: object

In [53]:
clean_df = new_df.drop(['FUNCSTAT', 'MTFCC', 'Unnamed: 0', 'Unnamed: 0.1', 'INTPTLAT', 'INTPTLON', 'Shape__Area', 'Shape__Length', 'TRACTCE', 'OBJECTID', 'STATEFP', 'GEOID_Data', 'NAMELSAD', 'ALAND', 'AWATER',  'BLKGRPCE', 'COUNTYFP'], axis=1)
clean_df

,E11B19001e1,E11B19001e13,E11B19001e2,E11B19013e1,E11B19025e1,E11B19055e2,E11B19059e2,E12B19113e1,E12B20002e1,E12B20002e2,...,D01B01001e44-46,D01B01001e47-49,S07B15003e15-17,S07B15003e18-21,S07B15003e23-25,E11B19001e3-5,E11B19001e6-10,E11B19001e11-12,E11B19001e14-15,E11B19001e16-17
0,688,83,115,62019.0,55804400,83,40,64800.0,38958.0,37778.0,...,44.0,18.0,135.0,405.0,87.0,60.0,114.0,156.0,88.0,72.0
1,1280,262,61,82353.0,130566800,198,101,111375.0,59471.0,54193.0,...,121.0,44.0,231.0,780.0,312.0,40.0,179.0,223.0,172.0,343.0
2,321,17,6,23924.0,17866200,149,28,38708.0,27750.0,32019.0,...,68.0,71.0,109.0,179.0,120.0,170.0,30.0,59.0,0.0,39.0
3,417,40,0,112132.0,62904600,79,46,114635.0,55281.0,54653.0,...,44.0,8.0,121.0,279.0,151.0,47.0,53.0,31.0,152.0,94.0
4,370,38,7,106250.0,51478600,114,56,153846.0,66620.0,0.0,...,47.0,58.0,85.0,130.0,122.0,17.0,27.0,91.0,33.0,157.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,931,161,80,70795.0,71901100,121,119,60814.0,32212.0,31538.0,...,59.0,17.0,266.0,395.0,166.0,29.0,230.0,153.0,222.0,56.0
72,474,54,68,44000.0,29781700,103,0,34792.0,23793.0,0.0,...,52.0,13.0,321.0,280.0,13.0,38.0,143.0,59.0,41.0,71.0
73,632,133,13,79153.0,58369900,89,83,79389.0,34906.0,48671.0,...,20.0,0.0,132.0,217.0,174.0,48.0,114.0,89.0,133.0,102.0
74,613,55,18,90417.0,64527400,299,205,95750.0,53594.0,55950.0,...,82.0,178.0,190.0,393.0,146.0,51.0,146.0,78.0,93.0,172.0
75,934,242,40,77321.0,75275100,0,0,53793.0,56108.0,56155.0,...,0.0,0.0,156.0,495.0,149.0,54.0,80.0,267.0,229.0,22.0

In [54]:
clean_df.set_index('GEOID', inplace = True)
clean_df

,E11B19001e1,E11B19001e13,E11B19001e2,E11B19013e1,E11B19025e1,E11B19055e2,E11B19059e2,E12B19113e1,E12B20002e1,E12B20002e2,...,D01B01001e44-46,D01B01001e47-49,S07B15003e15-17,S07B15003e18-21,S07B15003e23-25,E11B19001e3-5,E11B19001e6-10,E11B19001e11-12,E11B19001e14-15,E11B19001e16-17
GEOID,,,,,,,,,,,,,,,,,,,,,
60590632013,688,83,115,62019.0,55804400,83,40,64800.0,38958.0,37778.0,...,44.0,18.0,135.0,405.0,87.0,60.0,114.0,156.0,88.0,72.0
60590638071,1280,262,61,82353.0,130566800,198,101,111375.0,59471.0,54193.0,...,121.0,44.0,231.0,780.0,312.0,40.0,179.0,223.0,172.0,343.0
60590637022,321,17,6,23924.0,17866200,149,28,38708.0,27750.0,32019.0,...,68.0,71.0,109.0,179.0,120.0,170.0,30.0,59.0,0.0,39.0
60590633022,417,40,0,112132.0,62904600,79,46,114635.0,55281.0,54653.0,...,44.0,8.0,121.0,279.0,151.0,47.0,53.0,31.0,152.0,94.0
60590633021,370,38,7,106250.0,51478600,114,56,153846.0,66620.0,0.0,...,47.0,58.0,85.0,130.0,122.0,17.0,27.0,91.0,33.0,157.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60590639063,931,161,80,70795.0,71901100,121,119,60814.0,32212.0,31538.0,...,59.0,17.0,266.0,395.0,166.0,29.0,230.0,153.0,222.0,56.0
60590639023,474,54,68,44000.0,29781700,103,0,34792.0,23793.0,0.0,...,52.0,13.0,321.0,280.0,13.0,38.0,143.0,59.0,41.0,71.0
60590639024,632,133,13,79153.0,58369900,89,83,79389.0,34906.0,48671.0,...,20.0,0.0,132.0,217.0,174.0,48.0,114.0,89.0,133.0,102.0
60590639053,613,55,18,90417.0,64527400,299,205,95750.0,53594.0,55950.0,...,82.0,178.0,190.0,393.0,146.0,51.0,146.0,78.0,93.0,172.0
60590639084,934,242,40,77321.0,75275100,0,0,53793.0,56108.0,56155.0,...,0.0,0.0,156.0,495.0,149.0,54.0,80.0,267.0,229.0,22.0

### Analysis

from Clean_df, y was defined as a list of boolean data whether voter_turnout ratio is larger than or equal to 75% at each row.

In [55]:
y = clean_df['Voter_Turnout'] >= 75
X = clean_df.copy()
del X['Voter_Turnout']

In [56]:
X.head()

,E11B19001e1,E11B19001e13,E11B19001e2,E11B19013e1,E11B19025e1,E11B19055e2,E11B19059e2,E12B19113e1,E12B20002e1,E12B20002e2,...,D01B01001e44-46,D01B01001e47-49,S07B15003e15-17,S07B15003e18-21,S07B15003e23-25,E11B19001e3-5,E11B19001e6-10,E11B19001e11-12,E11B19001e14-15,E11B19001e16-17
GEOID,,,,,,,,,,,,,,,,,,,,,
60590632013,688,83,115,62019.0,55804400,83,40,64800.0,38958.0,37778.0,...,44.0,18.0,135.0,405.0,87.0,60.0,114.0,156.0,88.0,72.0
60590638071,1280,262,61,82353.0,130566800,198,101,111375.0,59471.0,54193.0,...,121.0,44.0,231.0,780.0,312.0,40.0,179.0,223.0,172.0,343.0
60590637022,321,17,6,23924.0,17866200,149,28,38708.0,27750.0,32019.0,...,68.0,71.0,109.0,179.0,120.0,170.0,30.0,59.0,0.0,39.0
60590633022,417,40,0,112132.0,62904600,79,46,114635.0,55281.0,54653.0,...,44.0,8.0,121.0,279.0,151.0,47.0,53.0,31.0,152.0,94.0
60590633021,370,38,7,106250.0,51478600,114,56,153846.0,66620.0,0.0,...,47.0,58.0,85.0,130.0,122.0,17.0,27.0,91.0,33.0,157.0

In [57]:
feature_name = list(X.columns)
num_feats = 10

Feature extraction using Random Forest Classifier and SelectFromModel

In [58]:
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier

In [59]:
embeded_rf_selector = SelectFromModel(RandomForestClassifier(n_estimators=100), max_features=num_feats)

In [60]:
embeded_rf_selector.fit(X, y)

SelectFromModel(estimator=RandomForestClassifier(), max_features=10)

In [61]:
embeded_rf_support = embeded_rf_selector.get_support()
embeded_rf_feature = X.loc[:,embeded_rf_support].columns.tolist()
print(str(len(embeded_rf_feature)), 'selected features')

10 selected features

In [62]:
embeded_rf_feature

['E11B19013e1',
 'E12B20002e1',
 'E12B20002e2',
 'E12B20002e3',
 'D03B02001e7',
 'S19B28008e10',
 'D01B01001e7-10',
 'S07B15003e23-25',
 'E11B19001e14-15',
 'E11B19001e16-17']

Step to apply Random Forest Classifier on selected features set

In [63]:
X_cleaned_feature = X[['E11B19013e1',
 'E12B19113e1',
 'E12B20002e1',
 'E12B20002e2',
 'E12B20002e3',
 'H18B25081e1',
 'D03B02001e7',
 'S07B15003e23-25',
 'E11B19001e11-12',
 'E11B19001e16-17']]
X_cleaned_feature.head()

,E11B19013e1,E12B19113e1,E12B20002e1,E12B20002e2,E12B20002e3,H18B25081e1,D03B02001e7,S07B15003e23-25,E11B19001e11-12,E11B19001e16-17
GEOID,,,,,,,,,,
60590632013,62019.0,64800.0,38958.0,37778.0,40027.0,141,117,87.0,156.0,72.0
60590638071,82353.0,111375.0,59471.0,54193.0,65625.0,301,12,312.0,223.0,343.0
60590637022,23924.0,38708.0,27750.0,32019.0,20625.0,8,86,120.0,59.0,39.0
60590633022,112132.0,114635.0,55281.0,54653.0,55408.0,86,10,151.0,31.0,94.0
60590633021,106250.0,153846.0,66620.0,0.0,49583.0,300,0,122.0,91.0,157.0

In [64]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_cleaned_feature,y, random_state=42)

In [65]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100,max_depth=2)
rf = rf.fit(X_train,y_train)

In [66]:
print(f"Training Data Score: {rf.score(X_train, y_train)}")
print(f"Testing Data Score: {rf.score(X_test, y_test)}")

Training Data Score: 0.8947368421052632
Testing Data Score: 0.8947368421052632